.jloading {
    position:fixed;
    z-index:10001;
    width:100%;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background-color: rgba(0,0,0,0.7);
}

.jloading::after {
    content:'';
    display:block;
    margin:0 auto;
    margin-top:50vh;
    width:40px;
    height:40px;
    border-style:solid;
    border-color:white;
    border-top-color:transparent;
    border-width:4px;
    border-radius:50%;
    -webkit-animation: jspin .8s linear infinite;
    animation: jspin .8s linear infinite;
}

.jloading.jspin {
    background-color:transparent;
}

.jloading.jspin::after {
    margin:0 auto;
    margin-top:80px;
    border-color:#aaa;
    border-top-color:transparent;
}
.jspin {
    animation: jspin 2s infinite linear;
}
@-webkit-keyframes jspin {
    from {
        -webkit-transform:rotate(0deg);
    }
    to {
        -webkit-transform:rotate(359deg);
    }
}

@keyframes jspin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(359deg);
    }
}
